@import "tailwindcss";

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

/* Sidebar */
.sidebar--item {
  padding: 12px 0 12px 24px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 24px;
}

/* For You */
.page--title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 16px;
}

.page--subtitle {
  margin-bottom: 16px;
  font-weight: lighter;
}

/* Book Page */
.book--btn {
  background-color: #032b41;
  color: white;
  padding: 12px 40px;
  border-radius: 4px;
}
