@import "tailwindcss";

/* Sidebar */
.sidebar--item {
  padding: 12px 0 12px 24px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 24px;
}

.disabled {
  cursor: not-allowed;
}
